
<script src="/seniorsecondary23/Scripts/jquery-2.2.1.js"></script>
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bihar School Examination Board, Patna</title>
    <link href="/seniorsecondary23/Content/css?v=uL_iAvEyIVTXOzMNgkuPlljL3w0rT582ERO76uQAbSQ1" rel="stylesheet"/>

    <script src="/seniorsecondary23/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>


    <script type="text/javascript">
        if (document.layers) {
            debugger;
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);

    //Disable the OnMouseDown event handler.
    $(document).mousedown(function () {
        return false;
    });
}
    else {
    //Disable the OnMouseUp event handler.
    $(document).mouseup(function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    });
    }

    //Disable the Context Menu event.
    $(document).contextmenu(function () {
        return false;
    });
    </script>

    



</head>
<body ng-app="App">
    
                   
               
    <div class="wrapper">
        
        <!-- Sidebar Holder -->
        <nav id="sidebar" style="display:none;">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                
             
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Home 1</a></li>
                        <li><a href="#">Home 2</a></li>
                        <li><a href="#">Home 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li><a href="/seniorsecondary23/Registration/Reg">Result</a></li>
            </ul>

            
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header" style="width:100%;">

                        <button style="display:none;" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                        <div class="logo text-center">
                            <img src="/seniorsecondary23/Content/images/bseb-logo.png" /> Bihar School Examination Board, Patna
                        </div>
                        

                    </div>

                    <div style="display:none !important;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

           
<script src="/seniorsecondary23/Scripts/angular.min.js"></script>
<script src="/seniorsecondary23/Scripts/RegistrationController.js"></script>
<script src="/seniorsecondary23/Scripts/jquery-2.2.1.min.js"></script>

<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

<style type="text/css">
    .watermark {
        color: rgba(255, 0, 0, 0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px;
        text-align: center;
    }
</style>

<section class="content">
    <div class="box">
        <form novalidate name="myForm" method="post" ng-app="App" ng-submit="validation(myForm.$valid)" ng-controller="StudentController">
            <div class="box-header with-border">
                <h3 class="box-title">INTERMEDIATE ANNUAL EXAMINATION 2023</h3>
            </div>
            <!-- angular-view has loads other views of the main nav links -->
            <div ng-view></div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-3">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 control-label">Roll Code<span style="color:red;" class="strip">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" name="Name" id="Name" placeholder="Enter RollCode" ng-model="Registration.RollCode" class="form-control" ng-required="true" onkeypress="return isNumberKey(event)" required maxlength="5" ng-minlength="3">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 control-label">Roll No<span style="color:red;" class="strip ">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" name="address" id="address" placeholder="Enter RollNo" ng-model="Registration.RollNo" onkeypress="return isNumberKey(event)" class="form-control" ng-required="true" maxlength="8" required ng-minlength="5" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 control-label"> Enter Total of:<span style="color:red;" class="strip">*</span></label>
                                <div class="row" ng-init="Captha()">
                                    <div class="col-xs-1 captcha_txt">
                                        <div class="re" ng-click="Captha()" style="cursor:pointer;"><i class="fa fa-fw fa-refresh"></i></div>
                                    </div>
                                    <div class="col-xs-1 rand1 captcha_txt">
                                    </div>
                                    <div class="col-xs-1 captcha_txt">
                                        +
                                    </div>
                                    <div class="col-xs-1 rand2 captcha_txt">
                                    </div>
                                    <div class="col-xs-1 captcha_txt">
                                        =
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="text" id="total" placeholder="Enter Captcha" autocomplete="off" maxlength="4" class="form-control" ng-model="Caltotal" onkeypress="return isNumberKey(event)" only-digits required />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button class="btn btn-block btn-primary " data-toggle="modal" ng-click="getdata()">View</button>
                                    <button class="btn btn-block btn-primary " ng-click="Reset()">Reset</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="marksheet" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">INTERMEDIATE ANNUAL EXAMINATION 2023 </h4>
                        </div>
                        <div class="modal-body">
                            <div class="box-body">
                                <div class="">
                                    <div class="table-responsive" id="divname">
                                        <div id="background">
                                            <p id="bg-text" class="bg-text1">
                                                WEB COPY
                                            </p> <br /><br />
                                            <p id="bg-text" class="bg-text2">
                                                1. Bihar School Examination Board Patna is not responsible for any inadvertent error that may have crept in the results being published on NET.<br />
                                                2. The results published on NET are for immediate information to the examinees.<br />
                                                3. This is not a valid Document.
                                            </p>
                                            <style type="text/css">
                                                .bg-text1 /*Class*/ {
                                                    font-size: 100px;
                                                    margin-top: 240px;
                                                    margin-bottom: 0px;
                                                    color: ##d3d3d3a3;
                                                }

                                                .bg-text2 /*Class*/ {
                                                    margin-left: 10%;
                                                    margin-top: 10px;
                                                    font-size: 20px;
                                                    line-height: 1.2em;
                                                    color: ##d3d3d3a3;
                                                }
                                            </style>
                                        </div>

                                        <style type="text/css">
                                            /*body:before {
                                            content: 'WEB COPY';
                                            position: fixed;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            z-index: -1;
                                            color: #0D0D0D;
                                            font-size: 115px;
                                            font-weight: bold;
                                            display: grid;
                                            justify-content: center;
                                            align-content: center;
                                            opacity: 0.4;
                                            transform: rotate(-45deg);
                                            }*/
                                            #background {
                                                position: absolute;
                                                z-index: 0;
                                                display: block;
                                                min-height: 50%;
                                                min-width: 100%;
                                            }

                                            #bg-text {
                                                color: #8b89899e;
                                                /*font-size:12px;*/
                                                -webkit-transform: rotate(306deg);
                                            }
                                        </style>
                                        <table style="border:thin; " class="table table-bordered marksheet-report-tbl-custom" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td colspan="1" align="center"><img src="/seniorsecondary23/Content/images/bseb-logo.png" height="65" width="65" /></td>
                                                <td colspan="7" align="center"> <b>Bihar School Examination Board, Patna <br />RESULT<br />INTERMEDIATE ANNUAL EXAMINATION-2023</b></td>
                                            </tr>
                                            <tr ng-show = "StudentList2.IsResultAfterScrutiny">
											<th colspan="8" scope="col" style="text-align:center"><b>{{StudentList2.ResultAfterScrutinyRemarks}}</b></th>
											</tr>
                                            <tr>
                                                <td colspan="3"><strong>BSEB Unique Id</strong></td>
                                                <td colspan="5">{{StudentList2.Stu_UniqueId}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Student Name</strong></td>
                                                <td colspan="5">{{StudentList2.StudentFullName}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Father Name</strong></td>
                                                <td colspan="5">{{StudentList2.FatherName}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>School/College Name</strong></td>
                                                <td colspan="5">{{StudentList2.CollegeName}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Roll Code</strong></td>
                                                <td colspan="5">{{StudentList2.RollCode}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Roll Number</strong></td>
                                                <td colspan="5">{{StudentList2.RollNumber}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Registration Number</strong></td>
                                                <td colspan="5">{{StudentList2.RegistrationNo}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Faculty</strong></td>
                                                <td colspan="5">{{StudentList2.FacultyName}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="8"><strong>Marks Details</strong></td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" style="width:185px;"><strong>Subject</strong></td>
                                                <td rowspan="2" style="width:95px; text-align:center"><strong>Full Marks</strong></td>
                                                <td rowspan="2" style="width:95px; text-align:center"><strong>Pass Marks</strong></td>
                                                <td rowspan="2" style="width:95px; text-align:center"><strong>Theory</strong></td>
                                                <td rowspan="2" style="width:95px; text-align:center"><strong>Practical</strong></td>
                                                <td style="text-align:center;" colspan="2"><strong>Regulation</strong></td>
                                                <td rowspan="2" style="width:120px; text-align:center"><strong>Subject Total</strong></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;"><strong>Th.</strong></td>
                                                <td style="text-align:center;"><strong>Pr.</strong></td>
                                            </tr>
                                            <tr ng-repeat-start="g in StudentList3"></tr>
                                            
                                            <tr>
                                                <td style="padding:0px;" colspan="8"><strong>{{g.SubjectGroupName}}</strong></td>
                                            </tr>
                                            <tr ng-repeat="n in StudentList | filter:{FK_SubjectPaperGroupId: g.FK_SubjectPaperGroupId} | orderBy:'SubjectPaperCode'">
                                                <td style="width:190px;">{{n.SubjectPaperName}}</td>
                                                <td style="width:95px; text-align:center">{{n.FMark}}</td>
                                                <td style="width:95px; text-align:center">{{n.PMarks}}</td>
                                                <td style="width:95px; text-align:center">{{n.TotalTheoryMarks}}</td>
                                                <td style="width:95px; text-align:center">{{n.PRObtainedMarks}}</td>
                                                <td style="width:95px; text-align:center">{{n.TheoryGraceMarks}}</td>
                                                <td style="width:95px; text-align:center">{{n.PracticalGraceMarks}}</td>
                                                <td style="width:120px; text-align:center">{{n.SubjectTotal}}{{n.PassWithGrace}}&nbsp;{{n.IsSwapped}}&nbsp;{{n.Dist}} {{IsImproved}}</td>
                                            </tr>
                                            
                                            <tr ng-repeat-end="g in StudentList3"></tr>
                                            <tr>
                                                <td colspan="8">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="8"><strong>Final Result</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Aggregate Marks:</strong></td>
                                                <td colspan="5">{{StudentList2.TotalMarks}} &nbsp;{{StudentList2.IsDivisionGrace}}&nbsp; ({{StudentList2.TotalMarksInWords}})</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Result/Division:</strong></td>
                                                <td colspan="5">{{StudentList2.Division}} {{StudentList2.PassedUnderRegulation}} {{ImprovementRemark}}</td>
                                            </tr>
                                            <tr style="border:none">
                                                <td style="text-align:center;" colspan="8"><strong><u>Abbreviations Used: </u></strong></td>
                                            </tr>
                                            <tr style="border-top:none">
                                                <td style="text-align:center;" colspan="1"><strong><b>*</b> - Grace</strong></td>
                                                <td style="text-align:center;" colspan="2"><strong>&#64 - Swapping</strong></td>
                                                <td style="text-align:center;" colspan="2"><strong> # - Greater Marks of Last Year</strong></td>
                                                <td style="text-align:center;" colspan="1"><strong>D - Distinction</strong></td>
                                                <td style="text-align:center;" colspan="1"><strong>F - Fail</strong></td>
                                                <td style="text-align:center;" colspan="2"><strong>U/R - Under Regulation</strong></td>
                                            </tr>
                                        </table>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-7 col-sm-offset-5">
                                                <button class="btn btn-primary btn-sm" ng-click="printDiv('divname')">Print</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div>
            </div>
        </form>
    </div>
</section>


        </div>
    </div>

        
       

    <script src="/seniorsecondary23/bundles/jquery?v=ANhjXBQF8qzdsgIrS6zbaElm7Fsffq1zdAJv1KWPakE1"></script>

    <script src="/seniorsecondary23/bundles/bootstrap?v=xNM101xEYiDLMUWdJ1FB-m398vK-YNlWt2mzJePUpNQ1"></script>



    

    <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
    </script>

</body>
</html>
